@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("truetype");
}

.liste {
  font-family: "Gilroy";
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
}

.items {
  margin-right: 10px;
  color: #f1f1f1;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  display: none;
}

@media screen and (max-width: 500px) {
  .liste {
    flex-direction: column;
    height: 9.9rem;
    display: flex;
    justify-content: center;
    left: 1.4rem;
  }

  .items {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #fff;
    line-height: 50px;
    z-index: 100;
    background-color: #010d18;
  }

  .btn {
    display: block;
    justify-items: center;
    right: 10px;
    top: 10px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
  }

  .menuIcon {
    height: 1.5rem;
    width: 1.5rem;
    color: #f0f0f0;
  }
}
