.return_button {
  color: #f0f0f0;
}

.SearchBar {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#site-search {
  width: 100%;
  height: 2rem;
  border-radius: 0.7rem;
  color: black;
  padding: 0.2rem;
}

.results {
  color: #f0f0f0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.SearchValue {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchValue p {
  padding: 1rem 1rem;
  text-align: center;
}

.results a {
  display: flex;
}
.SearchThumbnail {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.searchBtn {
  height: 2rem;
  border-radius: 0.7rem;
  color: black;
}
@media screen and (min-width: 992px) {
  .results {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .SearchValue {
    width: 28%;
  }
}
