.return-button {
  height: 1.5rem;
  width: 1.5rem;
  color: #f0f0f0;
  margin-top: 10px;
  margin-left: 10px;
}

.return-button:hover {
  color: #ff680a;
}

.video-player {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video {
  padding-top: 1rem;
}

.video-informations {
  padding-top: 4rem;
  padding: 2rem;
}

.titlevideo {
  color: white;
  font-family: "Gilroy", sans-serif;
  font-weight: 1;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.description {
  color: #94b1d4;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 1;
  font-size: 1rem;
  padding-bottom: 3rem;
}

.hashtag {
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
}

.hash {
  font-family: "Gilroy", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #ff680a;
  padding: 8px;
  margin: 6px;
  color: #ff680a;
}

.informations {
  color: white;
  font-family: "Gilroy", sans-serif;
  font-weight: 1;
  font-size: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 4rem;
}

.category {
  color: #94b1d4;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 1;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.validite {
  color: white;
  font-family: "Gilroy", sans-serif;
  font-weight: 1;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

.validateInfosStart {
  color: #94b1d4;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 1;
  font-size: 1rem;
}

.validateInfosEnd {
  color: white;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 1;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.subtitle {
  color: white;
  font-family: "Gilroy", sans-serif;
  font-weight: 1;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

.subtitleInfos {
  color: #94b1d4;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 1;
  font-size: 1rem;
}

.barre {
  border: 1px solid #94b1d4;
  border-radius: 30%;
}
.scroll {
  scroll-snap-type: x;
  overflow-x: scroll;
  display: flex;
  align-items: top;
  color: white;
}

.favorite {
  width: 2rem;
  height: 2rem;
}

.suggest {
  text-align: center;
  padding-top: 3rem;
}

@media screen and (min-width: 992px) {
  .video {
    height: auto;
    width: 70%;
    margin: 1rem 0rem 5rem 0rem;
  }

  .video_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .video-player {
    display: flex;
    justify-content: center;
  }

  .video-informations {
    padding: 7rem;
  }

  .suggest {
    text-align: center;
    font-size: 3rem;
  }
}
