.FaLessThan {
    color: white;
}

.titlevideo {
    color: white;
    font-family: "Gilroy";
}

.description {
    color: white;
    font-family: "Open Sans Light";
}

.subtitle {
    color: #807f7f;
    font-family: "Gilroy";
}

.informations {
    color: white;
    font-family: "Open Sans Light";
}