.admin-menu {
  background-color: #333333;
  border-right: 0.188rem solid white;
  margin-right: 80%;
  height: 100vh;
  font-family: "Open Sans Light", sans-serif
}

.back {
  margin-bottom: 10px;
}

.border-header {
  margin-left: 1rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  margin-bottom: 1.25rem;
}

.title {
  color: #FF680A;
}

.border-menu {
  margin-left: 1rem;
  padding: 1rem;
  height: fit-content;
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.border-category1 {
  color: #94b1d4;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  height: fit-content;
  width: fit-content;
  display: flex;
}

.category-menu {
  padding-left: 1.25rem;
  color: #ffffff;
  border: none;
  background: none;
  text-align: left;
  font-size: 1.5rem;
}

.border-category2 {
  color: #94b1d4;
  margin-top: 2.188rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  height: fit-content;
  width: fit-content;
  display: flex;
}