.allUsers {
  display: flex;
  height: 100vh;
  flex: 1;
}
.borderTd td {
  border-bottom: 1px solid #ff680a;
}
.boxUser {
  display: flex;
  flex: 1;
}

select {
  height: 1.7rem;
  width: 5.5rem;
  border-radius: 30px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 1rem;
}
td {
  color: white;
  padding: 1rem;
}
tr {
  border-bottom: 1px solid #ff680a;
  font-family: "Open Sans Light", sans-serif;
  font-size: large;
}

.RoleModifié {
  color: #ff680a;
  align-items: center;
}
.allUsers_btn {
  color: #ff680a;
  background: none;
  border-radius: 30px;
  border: 2px solid #ff680a;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
}
.allUsers_btn:hover {
  color: #ffffff;
  background-color: #ff680a;
  transition: 0.7s;
}
