@font-face {
  font-family: "Gilroy";
  src: url("../../../fonts/Gilroy-ExtraBold.otf") format("truetype");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../../../fonts/OpenSans-Light.ttf") format("truetype");
}

.video_grid {
  margin: 2rem;
}

.video_name {
  font-size: 1rem;
}

.thumbnail_admin {
  width: 10vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.video_tile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  border-bottom: 1px solid #ff680a;
  padding-bottom: 1rem;;
  margin-bottom: 1rem;
}

.video_name {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.buttons {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.button {
  font-family: "Open Sans Light", sans-serif;
  font-size: medium;
  margin: 0.5rem 0 0.5rem 0;
  color: white;
  background: none;
  height: 2.5rem;
  width: 10rem;
}

.edit_button, .delete_button {
  width: 2rem;
  height: 2rem;
}

.edit_button:hover {
  color: green;
}

.delete_button:hover {
  color: red;
}


/* CSS */
.upload_button {
  background: #ff5909;
  border: 1px solid #ff5909;
  border-radius: 30px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.upload_button:hover,
.upload_button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.upload_button:active {
  opacity: .5;

}