.title-vm {
  font-family: "Gilroy", sans-serif;
  color: orange;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.admin-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.admin-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-grow: 1;
}

.video {
  color: white;
  font-family: "Open Sans Light", sans-serif;
}

.video-input {
  border-radius: 5px;
  color: black;
  height: 2vw;
  width: 15vw;
}

.form-input {
  text-indent: 0.5rem;
  width: 30rem;
  height: 2rem;
  border-radius: 30px;
}

.modify-video {
  background-color: #28b463;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete-video {
  background-color: #bd0000ff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 1rem;
}

.submitButton {
  color: #ff680a;
  background: none;
  border-radius: 30px;
  border: 2px solid #ff680a;
  height: 2rem;
  width: 10rem;
  cursor: pointer;
}

.register_button{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.formEdit{
  display: flex;
  flex-direction: column;
}