.title-vm {
  font-family: 'Gilroy', sans-serif;
  color: orange;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.admin-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.admin-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-grow: 1;
}

.video {
  color: white;
  font-family: "Open Sans Light", sans-serif;
}

.video-input {
  border-radius: 5px;
  color: black;
  height: 2vw;
  width: 15vw;
}

input, textarea {
  text-indent: 0.5rem;
}

.description {
  padding-top: 0.5rem;
}

.input-title {
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 1.5rem;
}

.link {
  margin-bottom: 1.5rem;
}

.modify-video {
  background-color: #28B463;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete-video {
  background-color: #BD0000FF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 1rem;
}