.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  height: 2rem;
  width: 2rem;
  background: none;
  border: none;
}
.searchIcon {
  height: 1.5rem;
  width: 1.5rem;
  color: #f0f0f0;
}
