body {
  background-color: #010d18;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.NavBar_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
